<div id="page_wrapper">

	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> Mr Rails</h1>
		<p>Bir çok büyük firma Ruby’i aktif olarak kullanıyor: Twitter (front-end), GitHub, Shopify, Airbnb, Basecamp (RoR’un çıkış noktası), Dribbble, Goodreads, Hulu, Kickstarter, Square, Strava, Twitch, Zendesk, GitLab, Xing… Dolayısıyla best-practice’leri oturmuş durumda.
Topluluk olarak gerçekten çok başarılı işler yapıyorlar.
Dil yapısı (syntax olarak değil) JavaScript’e çok yakın, JavaScript’e hakimseniz Ruby’e hakim olmanız işten değil.
İşin çoğunu yapıyor: Ruby ve özellikle Ruby on Rails ile yazılım geliştirirken bir çok teknik işle boğuşmak yerine sadece yapmak istediğiniz işe odaklanıyorsunuz. Topluluk standartları çok net.
Herhangi bir projenin prototipini Rails ile 1–2 saatte yazabilirsiniz. Startup’ların tercih etmesinin nedenlerinden biri bu.
Bir Ruby projesinden başka bir Ruby projesine geçmek çok kolay, çünkü yapı değişmiyor.
PHP’nin Laravel’ine ilham veren Rails, JavaScript’in Express’ine ilham veren Sinatra gibi bir çok güzel araç Ruby.
TDD/BDD proje geliştirme süreçlerini ayarlamak diğer birçok dile kıyasla çok daha basit ve kolay.</p>
	</div>
</div>